@keyframes FadeDown{
  0% {
    transform: translateY(4rem);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes FadeUp {
  0% {
    transform: translateY(-4rem);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes Spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0);
  }
}
