@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

@font-face {
  font-family: "lemon";
  src: url('../fonts/lemonmilk.woff') format('woff');
}

$bg-main: #0C070D;
$bg-extra: #fff;
$color-main: #fff;
$color-extra: #0C070D;
$color-active: #d00000;
$font-main: "lemon", Sans-serif;
$font-extra: 'Nerko One', cursive;
